@page "/fetchdata"

<PageTitle>Pets</PageTitle>

@using _20230615NetvaerksProgrammering.Data



<h1>Pets</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (pets == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Species</th>
                <th>Breed</th>
                <th>Colour</th>
                <th>Speed (KmH)</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pet in pets)
            {
                <tr>
                    <td>@pet.Id</td>
                    <td>@pet.Name</td>
                    <td>@pet.Species</td>
                    <td>@pet.Breed</td>
                    <td>@pet.Colour</td>
                    <td>@pet.Speed</td>
                    <td>@pet.Price</td>
                </tr>
            }
            <tr>
                <td><button @onclick="AddNew">Add</button></td>
                <td><input type="text" placeholder="Name..." @bind="pet.Name"></td>
                <td><input type="text" placeholder="Species..." @bind="pet.Species"></td>
                <td><input type="text" placeholder="Breed..." @bind="pet.Breed"></td>
                <td><input type="text" placeholder="Colour..." @bind="pet.Colour"></td>
                <td><input type="text" placeholder="Speed..." @bind="pet.Speed"></td>
                <td><input type="text" placeholder="Price..." @bind="pet.Price"></td>
            </tr>   
        </tbody>
    </table>
}

@code {
    Pets? pet = new();
    private List<Pets>? pets =
        new PetsService().ReadPets("SELECT * FROM Pets");

    private void AddNew()
    {
        new PetsService().CreatePet(pet);
        pet = new();
        pets = new PetsService().ReadPets("SELECT * FROM Pets");

    }
}